body {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #E6E6E6;
}

.site-header {
    background-color: #E6E6E6;
    width: 100vw;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-top {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.icon-logo {
    width: 60px;
    height: 60px;
}

.icon-menu,
.icon-cart,
.icon-user,
.icon-search {
    font-size: 30px;
    cursor: pointer;
}

.icon-cart:hover,
.icon-user:hover,
.fa-bars:hover {
    scale: 1.1;
}

.search-wrapper {
    position: relative;
    width: 700px;
    height: 40px;
}

.search-wrapper input {
    width: 100%;
    height: 100%;
    padding: 0 48px 0 16px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    color: #333333;
}

.search-wrapper input::placeholder {
    color: #999999;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.icon-search {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #999999;
    font-size: 20px;
    pointer-events: none;
}

.header-slogan {
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 20pxpx;
    letter-spacing: 8px;
    color: #FFFFFF;
    border-top: 1px solid #333333;
    background-color: #111111;
}


/* Títulos das seções */
.section-title {
    display: inline-block;
    background: #000;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    padding: 6px 18px;
    border-radius: 2px;
    margin-bottom: 28px;
    text-transform: lowercase;
}

/* Área de mais vendidos */
.mais-vendidos {
    margin-top: 40px;
    text-align: center;
}

.produtos {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.produto-card {
    background: #fff;
    border-radius: 12px;
    width: 300px;
    min-height: 420px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produto-nome {
    font-size: 18px;
    text-align: center;
    margin-bottom: 16px;
    line-height: 1.4;
}

.produto-card img {
    width: 220px;
    margin-bottom: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.produto-preco {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 14px;
    margin-top: auto;
}

.btn-carrinho {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin-top: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn-carrinho:hover {
    background: #222;
}

/* Categorias */
.categorias {
    margin: 60px;
    text-align: center;
}

.categorias-lista {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.categoria-card {
    background: #fff;
    border-radius: 12px;
    width: 180px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.categoria-card:hover {
    transform: translateY(-4px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.categoria-card img {
    width: 150px;
    margin-bottom: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.categoria-card p {
    font-size: 24px;
    text-transform: lowercase;
    margin: auto;
}

.categoria-img {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
    background: transparent;
}

.categoria-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

/* Aside*/
.filtros-aside {
    position: fixed;
    top: 0;
    left: -320px;
    width: 300px;
    height: 100vh;
    background: #fff;
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.2);
    z-index: 2000;
    transition: left 0.3s ease;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#toggleAside:checked~.filtros-aside {
    left: 0;
}

/* Topo do aside */
.filtros-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.filtros-topo h2 {
    font-size: 20px;
    margin: 0;
}

.btn-fechar {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Inputs de faixa de preço/ano */
.preco-inputs {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 8px;
}

.preco-inputs input {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Seções internas */
.filtros-conteudo label {
    font-weight: 600;
    margin-top: 16px;
    display: block;
}

/* Cores */
.cores {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 8px;
}

.cores span {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}

/* Tamanhos e marcas */
.tamanhos,
.marcas {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 8px;
}

.tamanhos button,
.marcas button {
    background: #f4f4f4;
    border: none;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.tamanhos button:hover,
.marcas button:hover {
    background: #ddd;
}

/* Rodapé do aside (botões de ação) */
.filtros-footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: auto;
}

.btn-aplicar {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.btn-aplicar:hover {
    background: #222;
}

.btn-redefinir {
    background: #f4f4f4;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.btn-redefinir:hover {
    background: #ddd;
}


.site-footer {
    background: #111;
    color: #fff;
    padding: 40px 20px 20px;
    margin-top: 60px;
}

.footer-container {
    max-width: 900px;
    max-height: fit-content;
    margin: auto;
    text-align: center;
}

.footer-logo img {
    width: 80px;
    margin-bottom: 10px;
}

.footer-logo p {
    font-size: 14px;
    color: #aaa;
}

.footer-socials {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-socials a {
    color: #fff;
    font-size: 24px;
}

.footer-socials a:hover {
    color: #f0c14b;
    transform: scale(1.1);
}

.footer-bottom {
    font-size: 12px;
    color: #666;
    margin-top: 20px;
}


/* Página de produto detalhado */
.produto-detalhe {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.produto-card-detalhe {
    background: #fff;
    width: 700px;
    border-radius: 12px;
    padding: 30px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.produto-card-detalhe img {
    width: 300px;
}

.produto-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produto-info h1 {
    font-size: 26px;
    margin-bottom: 4px;
}

.produto-info h2 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}

.produto-tamanho-label {
    font-weight: bold;
    margin-bottom: 8px;
}

.produto-tamanhos button {
    border: 1px solid #ccc;
    background: #f9f9f9;
    padding: 6px 12px;
    margin-right: 6px;
    border-radius: 6px;
    cursor: pointer;
}

.produto-preco-detalhe {
    margin-top: 20px;
    font-size: 26px;
    font-weight: bold;
}

.btn-comprar-detalhe {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
}

.btn-comprar-detalhe:hover {
    background: #222;
}

/*carrinho*/
.carrinho-container {
    background: #fff;
    border-radius: 12px;
    ;
    padding: 30px;
    max-width: 800px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.carrinho-item {
    display: grid;
    grid-template-columns: 100px 1fr auto;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.carrinho-item img {
    width: 100px;
}

.item-info p {
    margin: 4px 0;
}

.item-info button {
    border: 1px solid #ccc;
    background: #f4f4f4;
    padding: 4px 8px;
    cursor: pointer;
}

.item-preco {
    font-weight: bold;
}

/* Resumo do pedido */
.carrinho-resumo {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.resumo-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px 20px;
}

.btn-finalizar {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}

.btn-finalizar:hover {
    background: #222;
}


/*Finalizar pedido*/
.finalizar-pedido {
    background: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 900px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.produto {
    display: grid;
    grid-template-columns: 100px 1fr auto;
    align-items: center;
    gap: 20px;
}

.produto img {
    width: 100px;
    border-radius: 8px;
}

.preco-produto {
    font-size: 18px;
    font-weight: bold;
}

.grid-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.grid-form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pagamento {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.resumo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-finalizar {
    background: black;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/*confirmacao pedido*/

.pedido-feito {
    background: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 900px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.btn-rastreio {
    background: black;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-rastreio:hover {
    background: #222;
}

.icon-check {
    font-size: 250px;
}

/* Cadastro*/
.card-cadastro {
    max-width: 500px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    margin: 210px auto 100px auto;
    text-align: center;
}

.card-cadastro h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card-cadastro h2 span {
    font-weight: normal;
}

.form-row {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.form-row input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.btn-cadastrar {
    width: 100%;
    padding: 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.btn-cadastrar:hover {
    background: #333;
}

.login-text {
    margin-top: 15px;
    font-size: 14px;
}

.link-login {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.link-login:hover {
    text-decoration: underline;
}

/*login*/
.card-login {
    max-width: 450px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    margin: 220px auto 110px auto;
    text-align: center;
}

.card-login h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card-login input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 14px;
}

.btn-login {
    width: 90%;
    padding: 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.btn-login:hover {
    background: #333;
}

.register-text {
    margin-top: 15px;
    font-size: 14px;
}

.link-cadastro {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.link-cadastro:hover {
    text-decoration: underline;
}

/*Rastreio*/
.rastreio-card {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    max-width: 800px;
    margin: 150px auto 150px auto;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.rastreio-card h2 a {
    color: #000;
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration: underline;
}

.rastreio-card h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 15px 0;
}

.status-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress {
    width: 25%;
    height: 100%;
    background-color: #000;
}

.rastreio-card p {
    font-size: 1rem;
    color: #333;
}






/* Responsividade para tablets */
/* Tablets (até 900px) */
@media (max-width: 900px) {
    .header-top {
        flex-wrap: wrap;
        height: auto;
        padding: 8px 16px;
        gap: 8px;
    }

    .header-left,
    .header-right {
        gap: 12px;
    }

    .header-center {
        order: 3;
        width: 100%;
        margin-top: 8px;
    }

    .search-wrapper {
        width: 100%;
        max-width: 500px;
        height: 36px;
    }

    .icon-logo {
        width: 50px;
        height: 50px;
    }

    .icon-menu,
    .icon-cart,
    .icon-user {
        font-size: 24px;
    }

    /* Produtos e categorias mais flexíveis */
    .produtos,
    .categorias-lista {
        gap: 20px;
    }

    .produto-card {
        width: 240px;
    }

    .categoria-card {
        width: 150px;
        padding: 16px;
    }
}

/* Celulares médios (até 600px) */
@media (max-width: 600px) {
    .header-top {
        padding: 4px 8px;
    }

    .header-left,
    .header-right {
        gap: 8px;
    }

    .search-wrapper {
        max-width: 200px;
        height: 32px;
    }

    .icon-logo {
        width: 36px;
        height: 36px;
    }

    .icon-menu,
    .icon-cart,
    .icon-user {
        font-size: 18px;
    }

    .header-slogan {
        font-size: 12px;
        letter-spacing: 1px;
        height: auto;
        padding: 4px 0;
    }

    .produto-card,
    .categoria-card {
        width: 100%;
        max-width: 300px;
    }

    .produto-card-detalhe {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 20px;
    }

    .produto-card-detalhe img {
        width: 100%;
        max-width: 280px;
    }

    .carrinho-container,
    .finalizar-pedido,
    .pedido-feito,
    .card-cadastro,
    .card-login,
    .rastreio-card {
        margin: 120px auto 80px auto;
        padding: 20px;
        width: 95%;
    }
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .site-footer {
        margin-top: auto; /* empurra o footer pro final */
        width: 100%;
        padding: 40px 0 20px 0;
        background: #111;
    }

    .footer-container {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 20px 0;
    }
}


/* Celulares pequenos (até 400px) */
@media (max-width: 400px) {
    .search-wrapper {
        max-width: 140px;
    }

    .icon-logo {
        width: 28px;
        height: 28px;
    }

    .icon-menu,
    .icon-cart,
    .icon-user {
        font-size: 16px;
    }

    /* Reduz ainda mais fontes e espaçamentos */
    .section-title {
        font-size: 18px;
        padding: 4px 12px;
    }

    .produto-preco {
        font-size: 16px;
    }

    .btn-carrinho,
    .btn-finalizar,
    .btn-comprar-detalhe {
        font-size: 14px;
        padding: 8px 12px;
    }
}
